<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Введение в AngularJS</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="styles/styles.css"/>
  </head>
  <body>
    <article>
      <section>
        <h1>Введение в AngularJS</h1>
        <!--h3//a(href='https://twitter.com/markdalgleish') @markdalgleish
        -->
        <!--img.avatar.avatar--small(src='images/profile.jpg')-->
      </section>
      <section>
        <h2>Вспомним MVC</h2><br><img src="images/mvc.jpg" class="logo--mvc">
      </section>
      <section>
        <h2>MVC в AngularJS</h2>
      </section>
      <section>
        <h2>Контроллер</h2>
        <ul>
          <li></li>
          <li>Объекты и функции на <i>javascript</i></li>
          <li>Именуются всегда "controllername<b>Ctrl</b>"</li>
          <li>Отвечают за логику поведения компонент</li>
          <li>Работают только с данными из модели (<i>$scope</i>)</li>
        </ul>
      </section>
      <section>
        <h2>Модель</h2><img src="images/model.png" class="logo">
        <ul>
          <li></li>
          <li>Содержит конкретные данные для представления</li>
          <li>Видна через ссылку (<i>$scope</i>)</li>
          <li>Изменения в модели отображаются в представлении</li>
        </ul>
      </section>
      <section>
        <h2>Представление</h2><br>
        <h3>Для программиста - это HTML (в большинстве случаев)</h3>
        <h2><b>НО!</b></h2>
        <h3 class="bullet">AngularJS работает с DOM (за это мы его и любим) </h3><img src="images/love.png" class="bullet avatar--small">
      </section>
      <section>
        <h2>Общая концепция </h2>
      </section>
      <section>
        <h2>Отображение в браузере</h2><br><img src="images/angular-concept.png" class="img--half"><span>Перед отображением происходит перехват DOM, он модифицируется ангуляром, в соответствии с моделью, и, модифицированный, передаётся браузеру.</span>
      </section>
      <section>
        <h2>Отображение в браузере</h2><br>
        <div style="text-align: left"><img src="images/concepts-view.png" align="right" class="img"><span>
            AngularJS ищет <b><i>директивы</i></b>, которые, в свою очередь, определяют отслеживаемые элементы в модели. 
            Результатом является постоянно обновляемое представление, которое не нуждается в повторной генерации на основе измененных данных. </span><br><br><span>Модель <b><i>($scope)</i></b> становится единственным достоверным источником данных для представления.</span></div>
      </section>
      <section>
        <h2>Демонстрация</h2>
      </section>
      <section>
        <h3>Исходный код</h3>
        <pre class="language-javascript"><code>&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;script src=&quot;http://code.angularjs.org/1.1.4/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div ng-app ng-init=&quot;qty=1;cost=2&quot;&gt;
      &lt;b&gt;Счёт:&lt;/b&gt;
      &lt;div style=&quot;text-align: left;   display: block;  margin-right: auto;&quot;&gt;
        Количество: &lt;input type=&quot;number&quot; min=&quot;0&quot; ng-model=&quot;qty&quot;&gt; &lt;br/&gt;
        Стоимость: &lt;input type=&quot;number&quot; min=&quot;0&quot; ng-model=&quot;cost&quot;&gt;
      &lt;/div&gt;
      &lt;div&gt;
        &lt;b&gt;Итого:&lt;/b&gt; {{qty * cost}} руб.
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
      </section>
      <section>
        <h2>Демо </h2><small><i>Примечание:</i> Cлайд интерактивный. Можно в него потыкать. Здесь исполняется код предыдущего слайда</small><br><!doctype html>
<html>
  <head>
    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
  </head>
  <body>
    <div ng-app ng-init="qty=1;cost=2">
      <b>Счёт:</b>
      <div style="text-align: left;   display: block;  margin-right: auto;">
        Количество: <input type="number" min="0" ng-model="qty"> <br/>
        Стоимость: <input type="number" min="0" ng-model="cost">
      </div>
      <div>
        <b>Итого:</b> {{qty * cost}} руб.
      </div>
    </div>
  </body>
</html><br>
        <!--iframe(style="background: #FFFFFF" src='app/index.html' )--><img src="images/databinding.png" align="left" class="img img--half">
      </section>
      <section>
        <h2>Итог</h2><br>
        <!--Основная цель для программиста пишущего приложение с использованием AngularJS:-->
        <ul>
          <li></li>
          <li>С помощью HTML и дирректив пишется как <b>отоображать</b> данные из <i><b>$scope</i></b></li>
          <!--(добавлять, удалять, изменять)-->
          <li>В контроллерах пишется как <b>обрабатывать</b> данные из <i><b>$scope</i></b> </li>
        </ul>
      </section>
      <!--section
      //h3 Пояснения
      //p
        //small <i>Примечание:</i> Предыдущий слайд был интерактивным. Можно в него потыкать.
      //div(style="text-align: content")
        //img.img.img--half(src='images/databinding.png' align="left")
        //span Код выглядит как обычный HTML, с некоторыми дополнениями. В терминах AngularJS это называется <i>шаблон</i>. <br/> 
             //Когда приложение стартует, запускается специальный сервис <i>"компилятор"</i>, который, как говорилось ранее, парсит и обрабатывает HTML. 
      //br
      //Загруженный, изменённый и отрендеренный DOM называется <i>"представление" (вьюха)</i>
      
      -->
      <section>
        <h2>Основные понятия AngularJS</h2>
        <ul>
          <li></li>
          <li>Инжектор</li>
          <li>Модули</li>
          <li>Шаблоны</li>
          <li>Директивы</li>
          <li>Фильтры</li>
          <li>Сервисы</li>
        </ul>
      </section>
      <section>
        <h2>Инжектор</h2><br><span><b>Инжектор</b> — это надстройщик всех сервисов. Для каждого Angular-приложения существует один и только один инжектор.</span><br><span>Инжектор позволяет находить экземпляры объектов по их именам. Инжектор поддерживает внутри себя кэш объектов, таким образом несколько вызовов поиска какого-либо объекта вернут один и тот же экземпляр. </span><br><span>Если инжектор ничего не находит, он просит фабрику создать новый экземпляр.</span>
      </section>
      <section>
        <h2>Модули</h2><br><span>Пишется логика Angular-приложения</span><span>Определяются зависимости</span><span>Настраивается инжектор</span><br><small>Чем-то похожи на pacage в java</small>
      </section>
      <section>
        <h2>Пример модулей</h2>
        <pre class="language-javascript"><code>angular.module('first', []).value('myval', 123);
</code></pre>
        <pre class="language-javascript"><code>//Второй модуль зависит от первого 
var app = angular.module('second', ['first']);
app.controller('myCtrl', function($scope, myval) {
  $scope.valInScope = myval;
});
</code></pre>
        <pre class="language-javascript"><code>&lt;div ng-app=&quot;second&quot;&gt;   //загрузка модуля 
	 &lt;script type=&quot;text/javascript&quot; src=&quot; ... &lt;/script&gt;

	 &lt;h2&gt;Value is {{valInScope}}&lt;/h2&gt;  // Value is 123 
&lt;/div&gt;</code></pre>
      </section>
      <section>
        <h2>Шаблоны</h2><br><span>Шаблон Angular является декларативной спецификацией, которая, наряду с информацией из модели и контроллером, влияет на то, что пользователь видит в браузере. </span><br><span>Это статичный DOM, содержащий HTML, CSS, и специальные элементы и атрибуты Angular. </span><br><span>Элементы и атрибуты заставляют Angular добавить поведение и преобразовать DOM-шаблон в динамический DOM.</span>
      </section>
      <section>
        <h2>Элеметы используемые в шаблонах</h2>
        <ul>
          <li>Директива </li>
          <li>Разметка <br/> (двойные фигурные скобки {{ }} для связи выражений, встраиваемых Angular'ом в разметку элементов)</li>
          <li>Фильтр</li>
          <li>Теги HTML</li>
        </ul>
      </section>
      <section>
        <h2>Директивы</h2><br><span>Директивы — это изменение поведения или преобразование модели DOM, связанное с пользовательским атрибутом, именем элемента, или css классом. </span>Директивы позволяют расширять HTML синтаксис, в декларативной форме. Ниже приведен пример связывания данных для директивы contenteditable.<br><br><small>Во всех примерах всё что начинается с <b>ng-*</b> - это директивы</small>
      </section>
      <section>
        <h2>Пример директив</h2>
      </section>
      <section>
        <h2>Использование</h2>
        <pre class="language-javascript"><code>&lt;my-directive-element  ng-show="1==1">&lt;/my-directive-element>
//&lt;my-directive-element  ng-show="1==1" />  - так работать не будет 
</code></pre>
      </section>
      <section>
        <h2>Собственные директивы</h2>
        <pre><code class="language-javascript">app.directive('myDirectiveElement', function() {
    return {
      restrict: 'E',
      templateUrl: 'templateElement.html'
    };
});
</code></pre>
        <pre><code class="language-javascript">&lt;h4&gt;Список покупок&lt;/h4&gt;
&lt;ul&gt;
  &lt;li ng-repeat=&quot;i in [1,2,3,4,5,6]&quot;&gt;
    &lt;strong&gt;Пиво&lt;/strong&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre><small>templateElement.html</small>
      </section>
      <section>
        <h2>Полученный HTML</h2>
        <pre><code class="language-javascript">&lt;h4&gt;Список покупок&lt;/h4&gt;
&lt;ul&gt;
  &lt;li&gt;
    &lt;strong&gt;Пиво&lt;/strong&gt;
    &lt;strong&gt;Пиво&lt;/strong&gt;
    &lt;strong&gt;Пиво&lt;/strong&gt;
    &lt;strong&gt;Пиво&lt;/strong&gt;
    &lt;strong&gt;Пиво&lt;/strong&gt;
    &lt;strong&gt;Пиво&lt;/strong&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
      </section>
      <section>
        <h2>Фильтры</h2><br><span>Фильтры преобразуют данные. Обычно они используются в связке с текущей локалью пользователя, чтобы форматировать данные в специфичный для данной локализации формат.</span><br><span>Фильтры близки по духу к конвейерам в <b>UNIX</b> и используют тот же синтаксис | (вертикальная черта)</span>
      </section>
      <section>
        <h2>Пример фильтра</h2><br>
        <pre class="language-javascript"><code>&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;script src=&quot;http://code.angularjs.org/1.1.4/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div ng-init=&quot;list = ['Chrome', 'Safari', 'Firefox', 'IE'] &quot;&gt;
      фильтрация массива 
      &lt;input ng-model=&quot;predicate&quot;&gt; &lt;br&gt;
      {{ list | filter:predicate | json }}
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre><br><small><i>Примечание:</i> Здесь тоже можно поиграться  </small>
        <iframe height="50" style="background: #FFFFFF" src="app/filter.html "></iframe>
      </section>
      <section>
        <h2>Сервисы</h2><br><span class="bullet">Сервисы Angular это одиночки (<i>singletons</i> — классы, у которых есть только один экземпляр), которые выполняют конкретные задачи, общие для веб-приложений.</span><br><span class="bullet">Например, <b><i>$http</i></b> сервис предоставяет низкоуровневый доступ к браузерному объекту XMLHttpRequest.</span>
      </section>
      <section>
        <h2>Пример сервиса</h2>
        <pre class="language-javascript"><code>angular.
module('myServiceModule', []).
 controller('MyController', ['$scope','notify', function ($scope, notify) {
   $scope.callNotify = function(msg) {
     notify(msg);
   };
 }]).
factory('notify', ['$window', function(win) {
   var msgs = [];
   return function(msg) {
     msgs.push(msg);
     if (msgs.length == 3) {
       win.alert(msgs.join("\n"));
       msgs = [];
     }
   };
 }]);</code></pre>
      </section>
      <section>
        <h2>Пример сервиса</h2>
        <pre class="language-javascript"><code>&lt;!doctype html&gt;
&lt;html ng-app=&quot;myServiceModule&quot;&gt;
  &lt;head&gt;
    &lt;script src=&quot;http://code.angularjs.org/1.1.4/angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;/app/services.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
	&lt;div  id=&quot;simple&quot; ng-controller=&quot;MyController&quot;&gt;
	  &lt;p&gt;Попробуйте сервис сами!&lt;/p&gt;
	  &lt;input ng-init=&quot;message='test'&quot; ng-model=&quot;message&quot; &gt;
	  &lt;button ng-click=&quot;callNotify(message);&quot;&gt;NOTIFY&lt;/button&gt;
	  &lt;p&gt;(после 3х кликов вылетит сообщенка)&lt;/p&gt;
	&lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
      </section>
      <section>
        <h2>Пример сервиса</h2><!doctype html>
<html ng-app="myServiceModule">
  <head>
    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
    <script src="/app/services.js"></script>
  </head>
  <body>
	<div  id="simple" ng-controller="MyController">
	  <p>Попробуйте сервис сами!</p>
	  <input ng-init="message='test'" ng-model="message" >
	  <button ng-click="callNotify(message);">NOTIFY</button>
	  <p>(после 3х кликов вылетит сообщенка)</p>
	</div>
  </body>
</html>
      </section>
      <section class="gif gif--end"></section>
      <section class="gif gif--magic">
        <h1>Подробнее о</h1>
      </section>
      <section>
        <h3>После загрузки скрипта angular.js и построения DOM</h3><br>
        <div><img src="images/concepts-startup.png" align="left" style="margin-top: -40px" class="img img--half img--half">
          <div><span>
              <ul>
                <li>Angular ищет ng-app директиву, определяющая область действия фреймворка</li>
                <li>Этот модуль используется для настройки <i><b>$injector</i></b></li>
                <li><i><b>$injector</i></b> используется для создания сервиса <i><b>$compile</i></b> и <i><b>$scope</i></b></li>
                <li>Сервис <i><b>$compile</i></b> используется для компиляции DOM и связки его с <i><b>$scope</i></b></li>
                <li>Присваиваются значения <b>World</b> свойству <b>name</b> в области видимости (<i><b>$scope</i></b>)</li>
              </ul></span></div>
        </div>
      </section>
      <section>
        <h2>Компилятор</h2><span>Компилятор — это angular-сервис, который сканирует DOM в поисках специальных атрибутов. </span><br><span>Процесс компиляции делится на две фазы:</span><br>
        <ul>
          <li></li>
          <li><b>Компиляция</b>: просмотр DOM и подготовка всех директив. Результатом этой фазы является функция линковки.</li>
          <li><b>Связывание</b>: слияние директив и их областей видимости для получения динамического вида. Любые изменения модели в области видимости моментально отображаются в представлении, а любые взаимодействия пользователя с представлением обновляют модель.</li>
        </ul>
      </section>
      <section>
        <h2>Внедрение зависимости</h2><br>
        <pre class="language-javascript"><code>// Вы пишете функции типа этой.
function doSomething(serviceA, serviceB) {
  // тут какие-то действия.
}


// *** дедовский способ *** 
var serviceA = $injector.get('serviceA');
var serviceB = $injector.get('serviceB');

// теперь можно вызывать функцию
doSomething(serviceA, serviceB);


// *** стильный, модный, молодёжный способ *** 
// $injector сам передаст необходимые аргументы функции
$injector.invoke(doSomething); 
//Именно так фреймворк вызывает ваши функции

</code></pre>
      </section>
      <section class="gif gif--future">
        <h1 class="bullet">Что дальше?</h1>
        <ul>
          <li><a href="https://docs.angularjs.org/tutorial">Туториал </a> с учебным приложением "Каталог телефонов" <br>(<a href="http://angular.ru/tutorial">на русском</a>)</li>
          <li><a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro">Видео лекции</a>. Изучай AngularJS в браузере</li>
          <li><a href="http://yeoman.io/codelab.html">Yeoman</a> генератор каркаса приложения</li>
          <!--li So what's the difference? <strong>Config vs code.</strong>-->
        </ul>
      </section>
      <section>
        <h2>Спасибо за внимание! </h2>
        <h3><a href="https://github.com/QIvan">QIvan</a></h3><img src="images/profile.jpg" class="avatar avatar--small">
      </section>
      <section>
        <h2>Ссылка на презентацию: </h2><img src="images/presentation-qr.png" class="img small">
      </section>
    </article>
    <script src="scripts/scripts.js"></script>
  </body>
</html>