<!doctype html>
<html>
  <head>
    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
  </head>
  <body>
    <div ng-app ng-init="qty=1;cost=2">
      <b>Счёт:</b>
      <div style="text-align: left;   display: block;  margin-right: auto;">
        Количество: <input type="number" min="0" ng-model="qty"> <br/>
        Стоимость: <input type="number" min="0" ng-model="cost">
      </div>
      <div>
        <b>Итого:</b> {{qty * cost}} руб.
      </div>
    </div>
  </body>
</html>